<script type="text/javascript">
    function newMovie(name, year) {
        var query_name = name.replace("\n","+")
        var string = "http://localhost:5000/browse?name="+query_name+"&year="+year
        console.log(string)
        window.location=string;
    }
</script>

{% extends 'layout.html' %}
{% block content %}
<main id="main">
    <div class="container movie details">
        <div class="row">
            <div class="col-md-6 left-box">
                <h1>{{movie.title}} ({{movie.release_year}})</h1>
                <p style="color:#5a7791;"><b>Runtime:</b> {{movie.runtime_minutes}} minutes &nbsp;&nbsp;&nbsp;&nbsp;<b>Director:</b> {{movie.director.director_full_name}}</p>
                <p>{{movie.description}}</p>
                <div class="row">
                    <div class="col">
                        <p>Cast:</p>
                        {% for actor in movie.actors %}
                            <li>{{actor.actor_full_name}}</li>
                        {% endfor %}
                    </div>
                    <div class="col">
                        <p>Genres:</p>
                        {% for genre in movie.genres %}
                            <li>{{genre.genre_name}}</li>
                        {% endfor %}
                    </div>
                </div>
                <div class="recs">
                    <h4>Explore other movies:</h4>
                    <div class="row">
                        {% for movie in recs %}
                            <div style="margin-left: 8px" class="col-sml-2">
                                <button style="border:none; background: none;" onclick="newMovie('{{movie.title}}','{{movie.release_year}}')"><img src="{{movie.image}}" class="movie-rec"></button>
                                <p class="recs-movie-title">{{movie.title}}</p>
                            </div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                    <img src={{movie.image}} class="movie-img">
            </div>
        </div>
        <div class="row" class="recs">
        </div>
    </div>
</main>
{% endblock %}