<script type="text/javascript">
    function review(name, year) {
        var query_name = name.replace("\n","+")
        var string = "http://localhost:5000/write?title="+name+"&year=" + year
        console.log(string)
        window.location=string;
    }
</script>

{% extends 'layout.html' %}
{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
<div class="rev-flex">
    <div class="rev-section">

        <h2 class="title">Reviews for {{movie.title}}</h2>
        <div style="display:flex;justify-content:center;">
                    <button class="nxt-btn" onclick="review('{{movie.title}}','{{movie.release_year}}')">Review this!</button>
        </div>
        <div class="reviews">
            {% for review in reviews %}
                <div class="review">
                    <div class="body-review">
                        <div class="name-review">{{review.movie.title}}</div>
                        <div class="place-review">{{review.timestamp}}</div>
                        <div class="rating">
                            {{review.rating}}
                        </div>
                        <div class="desc-review">
                            {{review.review_text}}
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>

    </div>
</div>
{% endblock %}