<script type="text/javascript">
    function changeSlider() {
        var string = "http://localhost:5000/explore?year="
        var slider = document.getElementById("myRange");
        console.log(slider.value)
        if (document.readyState === 'complete') {
            window.location=string+slider.value.toString();
        }
    }

    function newMovie(name, year) {
        var query_name = name.replace("\n","+")
        var string = "http://localhost:5000/browse?name="+query_name+"&year="+year
        console.log(string)
        window.location=string;
    }

    function nextPage(year, index) {
        var index = parseInt(index, 10) + 8
        var string = "http://localhost:5000/explore?year="+year+"&index="+index.toString()
        console.log(string)
        window.location=string;
    }

    function prevPage(year, index) {
        var index = parseInt(index, 10) - 8
        var string = "http://localhost:5000/explore?year="+year+"&index="+index.toString()
        console.log(string)
        window.location=string;
    }
</script>

{% extends 'layout.html' %}
{% block content %}
<main id="main">
    <div style="margin-top: 100px;">
        <h6 style="text-align:center;color:#fff;">Browse movie based on release year</h6>
        <div class="row" style="color:#fff;">
            <div class="col-sm-2" style="text-align:right;">
                <b>1990</b>
            </div>
            <div class="col-sm-8" style="display: flex; flex-direction: row">
                <div class="slidecontainer">
                    <input type="range" min="1990" max="2020" value={{year}} class="slider" id="myRange" onchange="changeSlider()">
                </div>
            </div>
            <div class="col-sm-2">
                <b>2020</b>
            </div>
        </div>
        <h2 style="text-align:center;color:#fff;padding:30px;">{{year}} Movies</h2>
        <div class="flex-grid" style="margin-left:300px;margin-right:100px">
            {% for movie in movieList %}
                <div class="flex-item-movie">
                    <button style="border:none; background: none;" onclick="newMovie('{{movie.title}}','{{movie.release_year}}')"><img src="{{movie.image}}" class="movie-rec"></button>
                    <p class="recs-movie-title">{{movie.title}}</p>
                </div>
            {% endfor %}
        </div>
        <div style="display:flex;justify-content: center;">
            {% if nextEnable %}
                <button class="nxt-btn" onclick="nextPage('{{year}}','{{index}}')">Next</button>
            {% endif %}
            {% if prevEnable %}
                <button class="nxt-btn" onclick="prevPage('{{year}}','{{index}}')">Prev</button>
            {% endif %}
        </div>
    </div>
</main>
{% endblock %}